include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    body
        div(id="wrapper")
            include includes/sidenav.pug
            div(id="content-wrapper" class="d-flex flex-column")
                div(id="content")
                    include includes/usernav.pug
                    div(class="container")
                        .row.justify-content-center
                            .col-md-10
                                .card
                                    if noExam
                                        p.text-small #{noExam}
                                    if exams
                                        h6(class="mb-3") Available reports you can check :
                                        each exam in exams
                                            - let examUrl = "/school/report/" + exam.examCode
                                            a(href=examUrl class="main-link") #{exam.name}
                                            hr

        include includes/footer.pug