include includes/header.pug
block content
  link(rel='stylesheet' , href='/stylesheets/style.css')
  body
    div(class="container mt-5")
      p #[a(href="/school") School Admin Login]
      p #[a(href="/staff") Staff Login]
      p #[a(href="/student") Student Login]
      p #[a(href="/parent") Parent Login]
  
  include includes/footer.pug


