include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    body
        div(id="wrapper")
            include includes/sidenav.pug
            div(id="content-wrapper" class="d-flex flex-column")
                div(id="content")
                    include includes/usernav.pug
                    div(class="container")
                        h5 Lesson Note
                        div(class="card")
                            h6 #{term.name}
                            .card-body
                                a(href=`/staff/lesson-note/${term.name}/create`).btn.main-btn.mr-2 Make Lesson note
                                a(href=`/staff/lesson-note/${term.name}/all`).btn.main-btn.mr-2 View Lesson Notes  

        include includes/footer.pug